<app-products-stats></app-products-stats>
<app-products-filter-bar></app-products-filter-bar>
<div class="bg-white rounded-lg border border-gray-200 m-8 overflow-hidden">
  <div class="overflow-x-auto">
    <table class="w-full rounded-lg overflow-hidden">
      <!-- Header -->
      <thead class="bg-gray-50 border-b border-gray-200">
        <tr>
          <th [class]="thClass">Product</th>
          <th [class]="thClass">PCode</th>
          <th [class]="thClass">Category</th>
          <th [class]="thClass">Location</th>
          <th [class]="thClass">Quantity</th>
          <th [class]="thClass">Price</th>
          <th [class]="thClass">Status</th>
          <th class="px-6 py-3 text-right text-xs font-medium text-gray-500 uppercase">Actions</th>
        </tr>
      </thead>

      <!-- Body -->
      <tbody class="divide-y divide-gray-200">
        @if (loading()) {
          <tr>
            <td colspan="8" class="text-center py-8">Loading...</td>
          </tr>

        } @else if (error()) {
          <tr>
            <td colspan="8" class="text-center text-red-600 py-8">
              {{ error() }}
            </td>
          </tr>

        } @else if (products().length === 0) {
          <tr>
            <td colspan="8" class="text-center py-8 text-gray-500">No products found</td>
          </tr>
        } @else {
          @for (product of products(); track getProductId(product)) {
            <tr 
              app-product-card
              [product]="product"
              [getProductId]="getProductId"
            ></tr>
          }
        }
      </tbody>
    </table>
  </div>
</div>
