<main class="p-8">
  <div class="grid grid-cols-1 md:grid-cols-5 gap-4">

    <div [class]="statCardClass">
      <p [class]="statTitleClass">Total Products</p>
      <p class="text-3xl font-bold text-gray-900">
        {{ stats.totalProducts() }}
      </p>
    </div>

    <div [class]="statCardClass">
      <p [class]="statTitleClass">In Stock</p>
      <p class="text-3xl font-bold text-green-600">
        {{ stats.pInStock() }}
      </p>
    </div>

    <div [class]="statCardClass">
      <p [class]="statTitleClass">Low Stock</p>
      <p class="text-3xl font-bold text-yellow-600">
        {{ stats.pLowStock() }}
      </p>
    </div>

    <div [class]="statCardClass">
      <p [class]="statTitleClass">Out of Stock</p>
      <p class="text-3xl font-bold text-red-600">
        {{ stats.pOutOfStock() }}
      </p>
    </div>

    <div [class]="statCardClass">
      <p [class]="statTitleClass">Total Value</p>
      <p class="text-3xl font-bold text-blue-600">
        {{ stats.totalInventoryValue() }}
      </p>
    </div>
  </div>
</main>
